<nav class="navbar navbar-expand-md navbar-default bg-primary">
    {{getRoute()}}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div _ngcontent-c5 class="collapse navbar-collapse" id="navbar-menu">
        <ul _ngcontent-c5 class="navbar-nav">
            <li _ngcontent-c5 class="nav-item ">
                <a _ngcontent-c5 class="navbar-brand" routerLink="careerpath">Mon parcours</a>
            </li>
                <li _ngcontent-c5 class="nav-item " *ngIf="href==='/careerpath'" >
                    <p _ngcontent-c5  class="textNav">Formation</p>
                </li>
                <li _ngcontent-c5 class="nav-item " *ngIf="href==='/careerpath'">
                    <p _ngcontent-c5 class="textNav">Projets</p>
                </li>
                <li _ngcontent-c5 class="nav-item " *ngIf="href==='/careerpath'">
                    <p  _ngcontent-c5 class="textNav">Compétences</p>
                </li>
            <li _ngcontent-c5 class="nav-item ">
                <a _ngcontent-c5 class="navbar-brand" routerLink="about">A propos</a>
            </li>
                <li _ngcontent-c5 class="nav-item " *ngIf="href ==='/about'">
                    <p _ngcontent-c5 class="textNav">Mon profil</p>
                </li>
            <li _ngcontent-c5 class="nav-item ">
                <a _ngcontent-c5 class="navbar-brand" href="assets/CV_MaevaLecavelier.pdf" target="_blank">CV</a>
            </li>
        </ul>
    </div>
</nav>
<nav _ngcontent-c5="" class="navbar navbar-expand-lg bg-danger construction">
        <p _ngcontent-c5="" class="navbar-brand constructionTxt">Site en constuction</p>
</nav>
