<nav class="navbar navbar-expand-md navbar-default">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <div ngbDropdown class="d-inline-block dropdown">
                  <a class="navbar-brand" id="dropdownBasic1" ngbDropdownToggle>Mon parcours</a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                    <a class="dropdown-item" routerLink="/careerpath">Formation</a>
                    <a class="dropdown-item" routerLink="/careerpath">Projets</a>
                    <a class="dropdown-item" routerLink="/careerpath">Compétences</a>
                  </div>
                </div>
            </li>
            <li class="nav-item ">
                <div ngbDropdown class="d-inline-block dropdown">
                  <a class="navbar-brand" id="dropdownBasic1" ngbDropdownToggle>A propos</a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                    <a class="dropdown-item"
                        routerLink="/about">
                        Mon profil</a>

                    <a class="dropdown-item"
                        routerLink="/about">
                        Voyages</a>

                  </div>
                </div>
            </li>
            <li class="nav-item ">
                <a class="navbar-brand" href="#pk">CV</a>
            </li>
        </ul>
    </div>
</nav>
