<nav class="navbar navbar-expand-md navbar-default bg-primary">
    {{getRoute()}}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div _ngcontent-c5 class="collapse navbar-collapse" id="navbar-menu">
        <ul _ngcontent-c5 class="navbar-nav">
            <li _ngcontent-c5 class="nav-item ">
                <a _ngcontent-c5 class="navbar-brand" routerLink="careerpath">Mon parcours</a>
            </li>
                <li _ngcontent-c5 class="nav-item " *ngIf="href==='/careerpath'" >
                    <a _ngcontent-c5  class="nav-link" routerLink="/careerpath">Formation</a>
                </li>
                <li _ngcontent-c5 class="nav-item " *ngIf="href==='/careerpath'">
                    <a _ngcontent-c5 class="nav-link" routerLink="/careerpath">Projets</a>
                </li>
                <li _ngcontent-c5 class="nav-item " *ngIf="href==='/careerpath'">
                    <a  _ngcontent-c5 class="nav-link" routerLink="/careerpath">Compétences</a>
                </li>
            <li _ngcontent-c5 class="nav-item ">
                <a _ngcontent-c5 class="navbar-brand" routerLink="about">A propos</a>
            </li>
                <li _ngcontent-c5 class="nav-item " *ngIf="href ==='/about'">
                    <a _ngcontent-c5 class="nav-link" routerLink="/about">Mon profil</a>
                </li>
                <li _ngcontent-c5  class="nav-item " *ngIf="href ==='/about'">
                    <a _ngcontent-c5 class="nav-link" routerLink="/about">Voyage</a>
                </li>
            <li _ngcontent-c5 class="nav-item ">
                <a _ngcontent-c5 class="navbar-brand" href="#pk">CV</a>
            </li>
        </ul>
    </div>
</nav>
