<div class="contain">
<h2 class="titre"> Mes projets </h2>
    <ul>
        <div *ngFor="let id of projectsId" >
            <div class="parallax" style="background-image: url({{imgUrl[id]}})">
                <nav _ngcontent-c5="" class="navbar navbar-expand-lg navbar-transparent mx-auto">
                <div _ngcontent-c5="" class="container mx-auto" >
                    <a _ngcontent-c5="" class="mx-auto" >{{idToGenre[id]}}</a>
                </div>
                </nav>
            </div>
            <table>
                <tr class="row">
                    <div *ngFor="let project of projects" class="project">
                        <td *ngIf="project.id === id" class="column">
                            <ng-container *ngIf="(project.project=='Rover')|| (project.project == 'Arduino') || (project.project == 'Pico')" >
                                <ngb-carousel  class="sweetCarousel">
                                  <ng-template *ngFor="let img of project.img" ngbSlide >
                                    <div class="picsum-img-wrapper">
                                      <img src="{{img}}" alt="{{img}}">
                                    </div>
                                  </ng-template>
                                </ngb-carousel>
                            </ng-container>
                            <div *ngIf="!((project.project=='Rover')|| (project.project == 'Arduino') || (project.project == 'Pico'))">
                                <br><br>
                                <img src="{{project.img}}" alt={{project.img}} class="imgProjet">
                            </div>
                            <h5>{{project.name}}</h5>
                            <p class="descriptionP">
                                 {{project.genre}} <br>
                                {{project.language}} <br>
                                {{project.description}} <br>
                                <br>
                                 <a *ngIf="project.link.length" href={{project.link}} target="_blank">
                                     <button _ngcontent-c6=""  class="btn btn-warning btn-round" type="button" style="height: 45px;">
                                         <i _ngcontent-c6="" class="fa fa-heart"><img class="iconBtn" src="./assets/img/git.png" ></i>
                                         Voir projet
                                     </button>
                                 </a>
                                <br>
                            </p>
                        </td>
                    </div>
                </tr>
            </table>
        </div>
    </ul>
</div>
