<div style="margin-left: 35px; padding-right: 35px;">
    <div class="btnMobile">
        <a routerLink="/about" style="margin-right: 40px;">
            <button _ngcontent-c6=""  class="btn btn-primary btn-round" type="button" > Mon profil </button>
        </a>
        <a href="assets/CV_MaevaLecavelier.pdf" target="_blank">
            <button _ngcontent-c6=""  class="btn btn-primary btn-round" type="button" > Mon CV </button>
        </a>
    </div>
    <div #formation>
        <app-formation></app-formation>
    </div>
    <div #project>
        <app-projects></app-projects>
    </div>
    <div #skills>
        <app-skills></app-skills>
    </div>
    <div class="btnMobile">
        <a routerLink="/about" style="margin-right: 40px;">
            <button _ngcontent-c6=""  class="btn btn-primary btn-round" type="button" > Mon profil </button>
        </a>
        <a href="assets/CV_MaevaLecavelier.pdf" target="_blank">
            <button _ngcontent-c6=""  class="btn btn-primary btn-round" type="button" > Mon CV </button>
        </a>
    </div>
</div>
