/* You can add global styles to this file, and also import other style files */
.carousel-control-next-icon{
    background-image: url('src/assets/img/rarrow.svg');
}

.carousel-control-prev-icon{
    background-image: url('src/assets/img/larrow.svg');
}

.contain {
    margin: 50px;
    margin-top: 10px;
}
